h1{
    background-color: #6a6;
    padding-bottom: 10px;
    border-bottom: 2px solid red;
}

ul{
    margin:15px;
    background-color:#DE1E7E;
}
p::after{
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    border:2px dotted black;
    background-color:#FB1;
    display:block;
    content:'';
}


.linkuri{
    border-bottom:dashed blue;
    background-color:#1a1a1a;
}